body{
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}
.name{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.one{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.exp{
    margin-left: 36px;
}
.two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: orange;
}
.experience-item{
    width: 41%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;
    
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-stack-developer{
    border-left: 7px solid blue;
}
footer p{
    width: 50%;
    text-align: center;
    background-color: rgb(150, 148, 145);
    margin-top: 80px;
    margin-left: 25%;
    height: 20px;border-radius: 5px;
    
}